{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% for blogs in blogs %}
{% if blogs %}
<div class="container mt-5">
<hr style="height:20px;">
<div class="d-flex  flex-column">
    <center><h1 s class="text-light" >{{ blogs.headline }}</h1>
        <img src="{{ blogs.image.url }}" class="img img-fluid img-thumbnail rounded rounded-circle" style="width: 200px; height:200px;">
        <p class="text-primary" >Created on : {{ blogs.date }} by <span>{{ blogs.posted_by.username }}</span> </p>
    <p class="text-secondary" >{{ blogs.text  }}</p>
    <a class="btn btn-dark" href="{% url 'editblog' blogs.id %}">Update</a> 
    <a class="btn btn-secondary" href="{% url 'deleteblog' blogs.id %}">Delete</a> 
</center>
    <br>
{% else %}
<p class="text-warning" >You haven't posted any Blogs yet </span> </p>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}